* {
  padding: 0;
  margin: 0;
}

._container {
  margin: 0 auto;
}

.file_upload_wrapper {
  height: 20px;
  padding: 14px 6px 12px 6px;
}

.file_name {
  background: #cccccc;
  padding: 3px 5px;
  border-radius: 7px;
}
